@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*:root {
  --dark-color: #0b0d17;
  --light-color: #ffffff;
  --primary-color: #d0d6f9;

  --heading: 'Bellefair', serif;
  --heading-5: 'Barlow Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: var(--light-color);
}

.background {
  background-image: url(./assets/background-home-desktop.jpg);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0 0 55px;
}

.header .line {
  position: absolute;
  height: 1px;
  width: 46.875%;

  right: 800px;

  background-color: var(--light-color);
}

.nav {
  width: 830px;
  height: 96px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .bg {
  width: 830px;
  height: 96px;
  position: absolute;
  z-index: -1;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(300px);
  opacity: .8;
}

.nav-container {
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a{
  text-decoration: none;

  font-family: var(--heading-5);
  font-size: 16px;
  text-transform: uppercase;
}

.content {
  width: 100%;
  height: calc(100vh - 136px);
  
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Home */
h5 {
  font-family: var(--heading-5);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-family: var(--heading);
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;

  position: relative;
  left: -12px;
}

p {
  font-family: var(--heading-5);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.home {
  /*margin: 10% 8.6%;  10% 165px*/
  width: 100%;
  
  display: flex;  
  align-items: center;
  justify-content: space-around;
}

.home .title {
  width: 450px;
  height: 382px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.home .btn {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
}

.home .btn {
  color: var(--dark-color);
  font-size: 32px;
  text-transform: uppercase;
}

/* Destinations */

.background {
  background-image: url(./assets/background-destination-desktop.jpg);
  background-size: cover;
}

h5 {
  font-family: var(--heading-5);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 60px;
}

h5 .strong {
  opacity: .2;
}

h2 {
  font-family: var(--heading);
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
}

.destinations {
  display: flex;
  width: 1440px;
  align-items: space-between;
  justify-content: space-around;
}

.planets-list {
  width: 400px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.planets-list li a {
  font-family: var(--heading-5);
  font-size: 16px;

  text-decoration: none;
  text-transform: uppercase;
}

.planets-list .active {
  text-decoration: underline 4px; 
}

.description p {
  font-family: var(--heading-5);
  font-size: 18px;
  font-weight: 400;
  text-align: justify;

  max-width: 380px;
}

.description hr {
  opacity: .2;
  margin-top: 54px;
}

.planet-desc {
  display: flex;
}

.planet-desc .distance {
  margin-right: 80px;
}

.subheading-1 {
  font-family: var(--heading-1);
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;

  text-transform: uppercase;
}

.subheading-2 {
  font-family: var(--heading-5);
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2.35px;

  text-transform: uppercase;
}